
@media screen and (min-width:784px) and (max-width:1120px) {
    body {
        font-family: TT Lakes;
    }
    .con {
        display: flex;
        flex-direction: column;
    }

    main {
        padding: 24px 40px 14.34px 24px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 42px;
    }

    .block_container1 {
        display: flex;
        align-items: center;
        flex-basis: 55%;
    }

    .block_container2 {
        display: flex;
    }
    .block_container3{
        display: flex;
    }

    .pics1 {
        display: flex;
        align-items: center;
        flex-basis: 15%;
    }

    .pics2 {
        display: flex;
    }

    .pic_item2 {
        display: flex;
        flex-basis: 5%;
    }

    .image1,
    .image2 {
        padding-right: 16px;
    }

    h1 {
        margin: 0;
        padding-bottom: 40px;
        font-size: 28px;
    }

    .h_item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .picture {
        height: 40px;
        width: 4px;
        position: absolute;
        left: 0;
    }

    .header-line {
        display: flex;
        flex-direction: column;
    }

    a.text1,
    a.text2 {
        display: none;
    }

    .link_item1 {
        padding-right: 16px;
    }

    .review_item {
        display: none;
    }

    .nav_items {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 16px;
        padding-bottom: 14.63px;
        line-height: 24px;
    }

    .nav_item {
        text-decoration: none;
        color: #7E7E82;
        padding: 8px 10px 8px 17px;
    }

    .nav_1,
    .nav_5 {
        display: none;
    }

    span {
        display: flex;
        text-decoration: none;
        color: #7E7E82;
    }

    .nav_item:hover {
        outline: 2px solid #B8FFEC;
        border-radius: 6px;
    }

    .rek {
        display: flex;
    }

    .container2 {
        display: flex;
        gap: 48px;
    }

    .block_container4 {
        display: flex;
    }

    .text_item {
        display: flex;
        font-size: 14px;
        line-height: 20px;
      flex-direction: column;
    }

    .text {
    display: flex;
    flex-direction: row-reverse;
    text-decoration: none;
    align-items: center;
    justify-content: flex-end;
    }
    .icon{
        padding-right: 16px;
        padding-left: 10px;
    }

    .lalek {
        border-radius: 6px;
        height: 259.65px;
        width: 360px;
    }
}


@media screen and (min-width:320px) and (max-width:767px){
    body {
        font-family: TT Lakes;
    }

    .con {
        display: flex;
        flex-direction: column;
    }

    main {
        padding: 24px 16px 7.62px 16px;
    }
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
}
    .block_container1 {
        display: flex;
        align-items: center;
        gap: 16px;
    }

.container2{
    display: flex;
    flex-direction: column;
    gap: 250px;
}
    .block_container2 {
        display: none;
    }
    .block_container3{
        display: flex;   
        gap: 16px;
    }
   .link_item1{

   }
    .pics1 {
        display: flex;
    }
.pic_item1{
display: flex;
}
    .pic_item2 {
        display: none;
    }
    .pic_item3{
   
    }
    a.text1,
    a.text2 {
        display: none;
    }

    .rek{
        padding-left: 16px;
padding-right: 20px;
    }

    h1 {
        position: relative;
        left: -10px;
      font-size: 28px;
      line-height: 40px;
    }
 .h_item {
        display: flex;
        align-items: center;
    }
.picture{
    position: absolute;
    left: 0;
    height: 40px;
width: 4px;

}
    .nav_items {
       display: flex;
        overflow:scroll;
       font-size: 16px;
       line-height: 24px;
    }

    .nav_item{
    text-decoration: none; 
    color: #7E7E82;
    padding: 8px 9px 8px 17px;
    }
    .nav_item:hover {
        outline: 2px solid #B8FFEC;
        border-radius: 6px;
    }
    .review_item{
    display: none;
     }

    .container2 {
        display: flex;   
    }

    .block_container4 {
        display: flex;
    }

    .text_item {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        height: 90px;
        width: 288px;
        flex-basis: 80%;
        line-height: 18px;
        color: #1B1C21;
    }
.icon{
padding-right: 16px;
padding-left: 8px;
}
.text{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    text-decoration: none;
    line-height: 24px;
    font-size: 16px;
    color: #1B1C21;
    align-items: center;
}
    .image4 {
        display: flex;
        justify-content: ;
       border-radius: 6px;
        height: 230.8px;
        width: 320px;
        flex-direction: column-reverse;
        transform: translateX(-23px);
    }
 
    .lalek {
        
    }

}