@media screen and (min-width: 1121px){
    body {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        font-family: TT Lakes;
        margin: 0;
        background-color: #F8F8F8; 
        padding: 48px 32px 11.13px 32px;
      
    }
main{
display: flex;
flex-direction: column;
width: 100%;
}
    header {
   position: absolute;
    }
    .h_item {
    
    }
    h1 {
     position: relative;
     bottom: 15px;
    font-size: 28px;    
    }
    .picture{
    position: absolute;
     left: 0;
    }

    
   .block_container1,.block_container2{
  display: none;  
     }
    .block_container3 {
        display: flex;
    }

    a.text1,
    a.text2 {
        color: #1B1C21;
        line-height: 24px;
        padding-right: 8px;
    }

    .link_item1 {
        padding-right: 32px;
    }

    .link_item1,
    .link_item2 {
        display: flex;
        align-items: center;
        font-size: 16px;
    }

    .nav_3{
    display: none;
    }
.nav_lg{
display: flex;
}
    .nav_item {
     display: flex;
    color: #7E7E82;
    min-width: 1121px;
    font-size: 16px;
    gap:15px;
    }

    .nav_item:hover {
        outline: 2px solid #B8FFEC;
        border-radius: 6px;
    }
        .nav_1,.nav_2,.nav_4,.nav_5,.nav_6{
            display: flex; 
            text-decoration: none;
            color: #7E7E82; 
            padding: 8px 9.3px 8px 17px;
            }


    .review {
        font-size: 16px;
        display: flex;
    }

    .review_item {
        text-decoration: none;
        color: #7E7E82;
        padding: 8.63px 21.7px 7.37px 22.64px;
    }

    a.review_item:hover {
        outline: 2px solid #B8FFEC;
        border-radius: 6px;
    }

    .block_container4 {
        display: flex;
    gap:36px;
    min-width: 1121px;
    }

    .text_container {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        line-height: 20px;
       flex-basis: 48%;
    }

    .lalek {  
     max-width: 500px;
     border-radius: 6px;
    }

    .link {
        text-decoration: none;
        color: #1B1C21;
        line-height: 24px;
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .rek {
        display: none;
    }
 }