@media screen and (min-width:784px) and (max-width:1120px) {
    body {
        font-family: TT Lakes;
    }
    header {
        background-color:
            #FFFFFF;
        padding: 24px 40px 23px 24px;

    }
    main {
        background-color: #F8F8F8;
        padding-left: 24px;
        padding-right: 15px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .block_container1 {
        display: flex;
        align-items: center;
        flex-basis: 55%;
    }

    .block_container2 {
        display: flex;
    }

    .block_container3 {
        display: flex;
    }

    .link_item1,
    .link_item2 {
        display: flex;

    }

    .pics1 {
        display: flex;
        align-items: center;
        flex-basis: 15%;
    }

    .pics2 {
        display: flex;
    }

    .pic_item2 {
        display: flex;
        flex-basis: 5%;
    }

    .image1,
    .image2 {
        padding-right: 16px;
    }

    h1 {
    font-size: 28px;
    }

    .h_item {
        display: flex;
        align-items: center;
    }

    .picture {
        height: 40px;
        width: 4px;
        position: absolute;
        left: 0;
    }

    a.text1,
    a.text2 {
        display: none;
    }

    .link_item1 {
        padding-right: 16px;
    }

    .review_item {
        display: none;
    }

    .nav_item {
        display: flex;
        flex-wrap: wrap;
        column-gap: 25px;
        font-size: 16px;
        line-height: 24px; 
        text-decoration: none;
        color: #7E7E82;
        padding: 8px 10px 8px 17px;
    }

      .nav_item:hover {
        outline: 2px solid #B8FFEC;
        border-radius: 6px;
    }

    .nav_2,.nav_3,.nav_4,.nav_6{
        display: flex; 
        min-width: 230px; 
        text-decoration: none;
        color: #7E7E82; 
        padding: 8px 9.3px 8px 17px;
        }

    .nav_1,
    .nav_5 {
        display: none;
    }


    
    .rek {
        display: flex;
    }

    .container2 {
        display: flex;
        gap: 48px;
    }

    .block_container4 {
        display: flex;
    }

    .text_item {
        display: flex;
        font-size: 14px;
        line-height: 20px;
        flex-direction: column;
        color:#1B1C21;
    }

    .text {
        display: flex;
        flex-direction: row-reverse;
        text-decoration: none;
        align-items: center;
        justify-content: flex-end;
        color:#1B1C21;
    }

    .icon {
        padding-right: 16px;
        padding-left: 10px;
    }

    .lalek {
        border-radius: 6px;
        height: 259.65px;
        width: 360px;
        padding-right: 25px;
    }
}

