@media screen and (min-width:784px) and (max-width:1120px) {
    body {
        display: flex;
        flex-direction: column;
        font-family: TT Lakes;
        margin: 0; 
        min-width: 784px;
    }
    header {
        background-color:
            #FFFFFF;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 24px 40px 23px 10px;
    }
    main {
        background-color: #F8F8F8;
        padding-left: 24px;
        padding-right: 15px;
    }
    .block_container1 {
        display: flex;
        align-items: center;
        flex-basis: 55%;
    }

    .block_container2 {
        display: flex;
    }

    .block_container3 {
        display: flex;
    }

    .link_item1,
    .link_item2 {
        display: flex;

    }

    .pics1 {
        display: flex;
        align-items: center;
        flex-basis: 14%;
    }

    .pics2 {
        display: flex;
    }

    .pic_item2 {
        display: flex;
        flex-basis: 5%;
    }

    .image1,
    .image2 {
        padding-right: 16px;
    }

    h1 {
    font-size: 28px;
    }

    .h_item {
        display: flex;
        align-items: center;
    }

    .picture {
        height: 40px;
        width: 4px;
        position: absolute;
        left: 0;
    }

    a.text1,
    a.text2 {
        display: none;
    }

    .link_item1 {
        padding-right: 16px;
    }

    .review_item {
        display: none;
    }
.nav_md{
 display: flex;   

}
    .nav_item {
    display: flex;
    font-size: 16px;
    line-height: 24px; 
    min-width: 784px;
    }
   .nav_md:hover{
    outline: 2px solid #B8FFEC;
    border-radius: 6px;   
}
     
    .nav_2,.nav_3,.nav_4,.nav_6{
        display: flex; 
        text-decoration: none;
        color: #7E7E82; 
        padding: 8px 9.3px 8px 17px;
        }

    .nav_1,
    .nav_5 {
        display: none;
    }
    .rek {
        display: flex;
    }

    .container2 {
        display: flex;
        gap: 48px;
    }

    .block_container4 {
    display: flex;
    font-size: 14px;
    line-height: 20px;
    color:#1B1C21; 
    min-width: 784px;
    }
    .text_container{
    display: flex;
    flex-direction: column;
    width: 312px;
    flex-basis: 40%;
    }
    .link {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        align-items: center;
        color:#1B1C21;
    }
    .lalek {
    width: 360px;
    height: 259.66px;
    border-radius: 6px;
    }
    /**/
}

