@media screen and (min-width:320px) and (max-width:768px) {
    body {
    display: flex;
    flex-direction: column;
    font-family: TT Lakes;
    margin: 0; 
    }
    header {
    display: flex;
    background-color:
            #FFFFFF;  
    justify-content: space-between;
    align-items: center;
    padding: 18px 16px 23px 16px; 
    }
 
    main {
    background-color: #F8F8F8;   
    }
    .block_container1 {
        display: flex;
        align-items: center;
        gap: 16px;
    }
    .block_container2 {
        display: none;
    }

    .block_container3 {
        display: flex;
        gap: 16px;
    }

    .pics1 {
        display: flex;
    }

    .pic_item1 {
        display: flex;
    }

    .pic_item2 {
        display: none;
    }

    a.text1,
    a.text2 {
        display: none;
    }

    h1 {
    font-size: 28px;
    line-height: 40px;
    padding-left: 16px;
    }

    .h_item {
        display: flex;
        align-items: center;
    }

    .picture {
        position: absolute;
        left: 0;
        height: 40px;
        width: 4px;

    }
 /*padding: 8px 9.3px 8px 16.54px;*/
   .nav_sm{
    display: flex;
   } 
 .nav_item{
    display: flex;
    min-width: 320px; 
    overflow: scroll; 
    font-size: 16px;  
    line-height: 24px;
    text-decoration: none; 
    border-radius: 8px;
    }
   
    .nav_item:hover{
    display: flex;
    outline: 2px solid #B8FFEC; 
    }
   
   
.nav_2,.nav_3,.nav_4,.nav_6{
display: flex; 
min-width: 230px; 
text-decoration: none;
color: #7E7E82; 
padding: 8px 9.3px 8px 17px;
}

    .nav_1,
    .nav_5 {
        display: none;
    }
    .review_item {
        display: none;
    }

   .block_container4 {
        padding-left: 16px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    .text_item {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        line-height: 18px;   
    }

    .text_container {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        line-height: 24px;
        font-size: 16px;
       color: #1B1C21;
        align-items: center;
        padding-bottom: 20px;
    }
.lalek{
position: relative;
right: 20px;
width: 320px;
}
.link{
    width: 100%;
    display: flex;
    text-decoration: none;
    align-items: center;
    color:#1B1C21;
    gap:16px;
}
}