@media screen and (min-width:320px) and (max-width:768px) {
    body {
        font-family: TT Lakes;
    }

    .con {
       display: flex;
       flex-direction: column;
       max-width: 100%;
    }

    header {
        background-color:
            #FFFFFF;
    }

    main {
        background-color: #F8F8F8;   
    }
.header-line{
    display: flex;
}
    .container {
        display: flex;
        align-items: center;
       
    }

    .block_container1 {
        display: flex;
        align-items: center;
        gap: 16px;
    }
    .block_container2 {
        display: none;
    }

    .block_container3 {
        display: flex;
        gap: 16px;
    }

    .pics1 {
        display: flex;
    }

    .pic_item1 {
        display: flex;
    }

    .pic_item2 {
        display: none;
    }

    a.text1,
    a.text2 {
        display: none;
    }

    .rek {
        padding-left: 16px;
        padding-right: 20px;
    }

    h1 {
    font-size: 28px;
    line-height: 40px;
    padding-left: 12px;
    }

    .h_item {
        display: flex;
        align-items: center;
    }

    .picture {
        position: absolute;
        left: 0;
        height: 40px;
        width: 4px;

    }
 /*padding: 8px 9.3px 8px 16.54px;*/
    
 .nav_item{
    display: flex;
    overflow: scroll;
    }
    .nav_sm{
        max-width: 768px; 
        font-size: 16px; 
        
    }
    .nav_sm:hover {
    display: flex;
    line-height: 24px;    
    
}
.nav_2,.nav_3,.nav_4,.nav_6{
display: flex;
align-items: center;
outline: 2px solid #B8FFEC; 
border-radius: 6px;
color: #7E7E82;
text-decoration: none;   
}


    .nav_1,
    .nav_5 {
        display: none;
    }
    .review_item {
        display: none;
    }

    .container2 {
        display: flex;
        flex-direction: column; 
        max-width: 100%; 
     }
    .block_container4 {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 20px;
    }

    .text_item {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        line-height: 18px;
        
    }

    .icon {
        padding-right: 16px;
        padding-left: 8px;
    }

    .text {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        text-decoration: none;
        line-height: 24px;
        font-size: 16px;
       color: #1B1C21;
        align-items: center;
    }

    .image4 {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
    .lalek{
   
    }
}