
body {
font-family: TT Lakes;
margin: 0;
}
main{
display: block;
padding:50px 32px 11.13px 32px;
}
header{
display: flex;
flex-direction: column;
}
.picture{
position: absolute;
left: 0;
}
h1{
font-size: 28px; 
display: flex;
flex-basis: 65%;
}
.header-line{   
display: flex;
align-items: center;  
justify-content: space-between;
}

.option-holder{
display: flex;
}  

a.text1,a.text2{
color: #1B1C21;
line-height: 24px; 
padding-right: 8px;  
}
.link_item1{
padding-right: 32px;
}
.link_item1, .link_item2{
display:flex;
align-items: center;
font-size: 16px; 
}

.nav_items{
font-size: 16px;
padding-bottom: 14.63px;
}

.nav_item{
text-decoration: none;
color: #7E7E82;
}
.nav_item:nth-child(1){
margin-right: 40.7px;
}
.nav_item:nth-child(2){
margin-right: 34.15px;
}
.nav_item:nth-child(3){
margin-right: 27px;
}
.nav_item:nth-child(4){
margin-right: 21px;
}

.nav_item:hover{
border: 2px solid 
#B8FFEC; 
border-radius: 6px;    
}
.review{
font-size: 16px;
margin-bottom: 22px;
}
.review_item{
text-decoration: none;
color: #7E7E82;
}
a.review_item:hover{
border: 2px solid 
#B8FFEC; 
border-radius: 6px; 
}

.about{
display: flex;
Vertical-align: Top;
flex-direction: column;
line-height: 20px;
margin:0;
} 
p{
margin: 0;
padding-bottom: 15px;
font-size: 14px;
}
.text_item2{
padding-bottom: 0;
}

.extra{
margin-top: 13.78px;    
font-size: 16px;      
}
.extra_item{
text-decoration: none;
color: #1B1C21;
font-style: medium;
line-height: 24px; 
}
.image3{
margin-right: 10px;
}
figure{
display: flex;
justify-content: flex-end;
margin: 0;
}

.image4{   
width: 531.35px;
height:383.24px;
border-radius: 6px;
position: fixed;
top: 140px;
padding-top: 40px;
}


