
body { 
font-family: TT Lakes;
margin: 0;
}
main{ 
display: block;
padding:50px 32px 11.13px 32px;
}
header{
display: flex;
flex-direction: column;
}
.picture{
position: absolute;
left: 0;
}
h1{
font-size: 28px; 
display: flex;
flex-basis: 65%;
}
.header-line{   
display: flex;
align-items: center;  
justify-content: space-between;
}

.option-holder{
display: flex;
}  

a.text1,a.text2{
color: #1B1C21;
line-height: 24px; 
padding-right: 8px;  
}
.link_item1{
padding-right: 32px;
}
.link_item1, .link_item2{
display:flex;
align-items: center;
font-size: 16px; 
}

.nav_items{
display:flex;
justify-content: space-between;
font-size: 16px;
padding-bottom: 14.63px;
}

.nav_item{
text-decoration: none;
color: #7E7E82;
padding:8.63px 21.7px 7.37px 22.64px;
}

.nav_item:hover{
outline: 2px solid 
#B8FFEC; 
border-radius: 6px;
}
 
.review{
font-size: 16px;
margin-bottom: 22px;
}
.review_item{
text-decoration: none;
color: #7E7E82;
padding:8.63px 21.7px 7.37px 22.64px;
}
a.review_item:hover{
outline: 2px solid 
#B8FFEC; 
border-radius: 6px; 
}

.text_about{
height: 160px;
width: 490px;
display: flex;
flex-direction: column;
justify-content: flex-end;
line-height: 20px;
padding-top: 20px;
}
.text_item,.text_item2{
margin-right: 50px;
font-size: 14px;
}

.extra{   
font-size: 16px;  
display: flex;
flex-direction: row-reverse;
align-items: center;
justify-content: flex-end;
transform: translateY(-1790%);
}    


.extra_item{
text-decoration: none;
color: #1B1C21;
line-height: 24px; 
}
.image3{
margin-right: 10px;
}

figure.image4{
height: 383.24px;
width: 531.34px;    
display: flex;
flex-direction: row-reverse;
transform: translate(110%,-55%);
}
